@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Vollkorn&display=swap');

$main_font: 'Montserrat', sans-serif;
$second_font: 'Vollkorn', serif;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 940px;
  margin: auto;
}
header{
  padding: 18px 0;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include max-screen(520px){
      justify-content: space-around;
    }
    @include max-screen(430px){
      justify-content: space-between;
    }
    .logo{
      display: flex;
      align-items: center;
      a{
        margin-right: 18px;
      }
      p{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 38px;
        text-transform: uppercase;
        color: #333333;
      }
    }
    ul{
      display: flex;
      @include max-screen(520px){
        display: block;
      }
      li{
        list-style: none;
        margin-right: 34px;
        @include max-screen(520px){
          margin-bottom: 10px;
        }
        &:hover{
          transform: scale(1.1);
        }
        &:last-of-type{
          margin-right: 0;
          @include max-screen(960px){
            margin-right: 10px;
          }
          @include max-screen(520px){
            margin-right: 0;
          }
        }
        a{
          text-decoration: none;
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          text-transform: uppercase;
          color: #404040;
        }
      }
    }
  }
}
.main_banner{
  background-image: url("../images/banner.jpg");
  background-size: cover;
  padding-top: 105px;
  min-height: 391px;
  .container{
    h1{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 44px;
      line-height: 55px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 50px;
    }
    p{
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      color: rgba(255, 255, 255, 0.81);
    }
    .main_banner_photo{
      max-width: 52px;
      position: relative;
      left: 435px;
      bottom: -80px;
      @include max-screen(915px){
        left: 350px;
      }
        @include max-screen(720px) {
          display: none;
        }
    }
  }
}
.information{
  padding: 60px 0;
  background: #FEFEC9;
  .container{
    p{
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #47474F;
      margin-bottom: 39px;
    }
    .information_link{
      max-width: 159px;
      margin: auto;
      a{
        font-family: $second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #47474F;
        text-decoration: none;
        padding: 15px 34px;
        border: 1px solid #47474F;
        &:hover{
        background-color: lightsteelblue;
        }
      }
    }
  }
}
.make_brands {
  padding: 79px 0 74px;

  .container {
    h3 {
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 36px;
      text-align: center;
      text-transform: uppercase;
      color: #333333;
      margin-bottom: 55px;
    }


      .make_brands_box {
        display: flex;
        justify-content: space-between;
        @include max-screen(910px) {
          flex-wrap: wrap;
          justify-content: space-around;
        }

          .make_brands_item {
            max-width: 300px;

            .make_brands_image {
              max-width: 300px;
              margin-bottom: 38px;

              img {
                width: 100%;
                display: block;
              }
            }

            h4 {
              font-family: $main_font;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              text-align: center;
              text-transform: uppercase;
              color: #333333;
              margin-bottom: 20px;
            }

            p {
              font-family: $second_font;
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              text-align: center;
              color: #333333;
            }
          }
        }
      }
    }
.projects{
  padding: 79px 0 89px;
  background: #F5F5F5;
  .container{
    h3{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 36px;
      text-align: center;
      text-transform: uppercase;
      color: #333333;
      margin-bottom: 73px;
    }
    .projects_box{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include max-screen(900px){
        justify-content: space-around;
      }
      .projects_items{
        max-width: 300px;
        &:hover{
          transform: scale(1.1);
          transition-duration: 0.5s;
        }
        &:nth-child(2){
          @include max-screen(600px){
            margin-top: 20px;
          }
        }
        &:nth-child(3){
          @include max-screen(900px){
            margin-top: 20px;
          }
        }
        &:nth-child(4){
          margin-top: 20px;
        }
        &:nth-child(5){
          margin-top: 20px;
        }
        &:nth-child(6){
          margin-top: 20px;
        }
        &:nth-child(7){
          margin-top: 20px;
        }
        &:nth-child(8){
          margin-top: 20px;
        }
        &:last-of-type{
          margin-top: 20px;
        }
      .project_image{
        max-width: 300px;
        img{
          width: 100%;
          display: block;
        }
      }
        .projects_text{
          background-color: #FFFFFF;
          padding: 20px 0;
          h4{
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            color: #333333;
            margin-bottom: 4px;
          }
          p{
            font-family: $second_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #333333;
          }
        }
      }
    }
  }
}
.team{
  padding: 79px 0 100px;
  .container{
    h3{
      margin-bottom: 73px;
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 36px;
      text-align: center;
      text-transform: uppercase;
      color: #333333;
    }
    .team_box{
      display: flex;
      justify-content: space-between;
      @include max-screen(881px){
        flex-wrap: wrap;
        justify-content: space-around;
      }
      .team_items{

        &:nth-child(2){
          @include max-screen(439px){
            margin-top: 20px;
          }
        }
        &:nth-child(3){
          @include max-screen(659px){
            margin-top: 20px;
          }
        }
        &:last-of-type{
          @include max-screen(879px){
            margin-top: 20px;
          }
        }
        .team_photo{
          max-width: 220px;
          margin-bottom: 20px;
          img{
            width: 100%;
            display: block;
          }
        }
      h4{
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #333333;
        margin-bottom: 6px;
      }
        p{
          font-family: $second_font;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          color: #333333;
          margin-bottom: 29px;
        }
        .team_links{
          display: flex;
          justify-content: center;
          align-items: center;
          a{
            margin-right: 20px;
            &:last-of-type{
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
.touch{
  background-image: url("../images/touch.jpg");
  background-size: cover;
  padding: 79px 0 75px;
  .container{
    h3{
      margin-bottom: 53px;
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 36px;
      text-align: center;
      text-transform: uppercase;
      color: #333333;
    }
    .touch_box{
    display: flex;
      justify-content: space-between;
      @include max-screen(505px){
        flex-wrap: wrap;
        justify-content: space-around;
      }
      @include max-screen(361px){
        display: block;
      }
      .touch_items{
        .touch_image{
          max-width: 44px;
          margin: auto;
          img{
            width: 100%;
            display: block;
          }
        }
        h4{
          margin-top: 26px;
          margin-bottom: 20px;
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          text-transform: uppercase;
          color: #333333;
        }
        p{
          font-family: $second_font;
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 22px;
          text-align: center;
          color: #212121;
        }
      }
      .touch_contacts{
        @include max-screen(361px){
          margin-top: 30px;
        }
        .touch_contacts_image{
          max-width: 70px;
          margin: auto;
          img{
            width: 100%;
            display: block;
          }
        }
        h4{
          margin-top: 41px;
          margin-bottom: 20px;
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          text-transform: uppercase;
          color: #333333;
        }
        p{
          font-family: $second_font;
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 22px;
          text-align: center;
          color: #212121;
          &:nth-child(4){
            margin-bottom: 22px;
          }
          a{
            font-family: $second_font;
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
            text-align: center;
            color: #212121;
          }
        }
      }
      .touch_social{
        @include max-screen(505px){
          margin-top: 15px;
        }
        @include max-screen(361px){
          margin-top: 30px;
        }
        .touch_social_image{
          max-width: 68px;
          margin: auto;
          img{
            width: 100%;
            display: block;
          }
        }
        h4{
          margin-top: 35px;
          margin-bottom: 19px;
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          text-transform: uppercase;
          color: #333333;
        }
        ul{
          @include max-screen(361px){
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          li{
            margin-bottom: 11px;
            list-style: none;
            &:hover{
              transform: scale(1.1);
              transition-duration: 0.5s;
            }
            &:last-of-type{
              margin-bottom: 0;
            }
            a{
              text-decoration: none;
              font-family: $second_font;
              font-style: normal;
              font-weight: 400;
              font-size: 17px;
              line-height: 20px;
              color: #212121;
              img{
                margin-right: 9px;
              }
            }
          }
        }
      }
    }
  }
}
.contact_us{
  padding: 69px 0 75px;
  background-color: black;
  .container{
    .contact_us_box{
      max-width: 564px;
      margin: auto;
      form{
        @include max-screen(570px){
          margin-left: 10px;
          margin-right: 10px;
        }
      .item{
        max-width: 564px;
        input{
          width: 100%;
          background-color: rgba(255, 255, 255, 0.18);
          padding-left:  31px;
          height: 57px;
          font-family: $second_font;
          font-style: italic;
          font-weight: 400;
          font-size: 17px;
          line-height: 22px;
          color: #FFFFFF;
          border: none;
        }
        &:nth-child(2){
          input{
            width: 100%;
            background-color: rgba(255, 255, 255, 0.2);
            padding-left:  31px;
            height: 57px;
            font-family: $second_font;
            font-style: italic;
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
            color: #FFFFFF;
            border: none;
          }
        }
          textarea{
          height: 127px;
            width: 100%;
            padding-left: 31px;
            padding-top: 17px;
            background-color: rgba(255, 255, 255, 0.2);
            font-family: $second_font;
            font-style: italic;
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
            color: #FFFFFF;
            border: none;
            margin-bottom: 22px;
          }
      }
        .btn{
          text-align: center;
          button{
            font-family:$second_font;
            font-style: italic;
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
            text-align: center;
            color: #8BCAC3;
            padding: 16px 60px;
            background-color: black;
            border: solid;
            cursor: pointer;
            margin-bottom: 37px;
          }
        }
      }
    }
    .contact_us_image{
      max-width: 43px;
      margin: auto;
      img{
        width: 100%;
        display: block;
      }
    }
    p{
      margin-top: 14px;
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      color: rgba(255, 255, 255, 0.4);
    }
  }
}
.review{
  padding: 69px 0 98px;
  background: #F5F5F5;
  @include max-screen(673px){
    padding-bottom: 78px;
  }
  .container{
    .review_image{
      margin: auto;
      max-width: 62px;
      img{
        width: 100%;
        display: block;
      }
    }
    .review_box{
      margin-top: 55px;
      display: flex;
      justify-content: space-around;
      @include max-screen(673px){
        flex-wrap: wrap;
      }
      hr{
        border-width: 1px;
        border-style: solid;
        border-color:  rgba(0, 0, 0, 0.04);
        @include max-screen(835px){
          display: none;
        }
      }
      .review_items{
        &:first-of-type{
          @include max-screen(673px){
            margin-bottom: 50px;
          }
        }
        h3{
          max-width: 338px;
          font-family: $second_font;
          font-style: normal;
          font-weight: 400;
          font-size: 26px;
          line-height: 33px;
          text-align: center;
          color: #333333;
          margin-bottom: 24px;
        }
        .review_items_photo{
          max-width: 64px;
          margin: auto;
          img{
            width: 100%;
            display: block;
          }
        }
        h4{
          font-family: $main_font;
          margin-top: 10px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          text-transform: uppercase;
          color: #ABABAB;
        }
      }
    }
  }
}