@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Vollkorn&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 940px;
  margin: auto;
}

header {
  padding: 18px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 520px) {
  header .container {
    justify-content: space-around;
  }
}
@media screen and (max-width: 430px) {
  header .container {
    justify-content: space-between;
  }
}
header .container .logo {
  display: flex;
  align-items: center;
}
header .container .logo a {
  margin-right: 18px;
}
header .container .logo p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 38px;
  text-transform: uppercase;
  color: #333333;
}
header .container ul {
  display: flex;
}
@media screen and (max-width: 520px) {
  header .container ul {
    display: block;
  }
}
header .container ul li {
  list-style: none;
  margin-right: 34px;
}
@media screen and (max-width: 520px) {
  header .container ul li {
    margin-bottom: 10px;
  }
}
header .container ul li:hover {
  transform: scale(1.1);
}
header .container ul li:last-of-type {
  margin-right: 0;
}
@media screen and (max-width: 960px) {
  header .container ul li:last-of-type {
    margin-right: 10px;
  }
}
@media screen and (max-width: 520px) {
  header .container ul li:last-of-type {
    margin-right: 0;
  }
}
header .container ul li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #404040;
}

.main_banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  padding-top: 105px;
  min-height: 391px;
}
.main_banner .container h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.main_banner .container p {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.81);
}
.main_banner .container .main_banner_photo {
  max-width: 52px;
  position: relative;
  left: 435px;
  bottom: -80px;
}
@media screen and (max-width: 915px) {
  .main_banner .container .main_banner_photo {
    left: 350px;
  }
}
@media screen and (max-width: 720px) {
  .main_banner .container .main_banner_photo {
    display: none;
  }
}

.information {
  padding: 60px 0;
  background: #FEFEC9;
}
.information .container p {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #47474F;
  margin-bottom: 39px;
}
.information .container .information_link {
  max-width: 159px;
  margin: auto;
}
.information .container .information_link a {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #47474F;
  text-decoration: none;
  padding: 15px 34px;
  border: 1px solid #47474F;
}
.information .container .information_link a:hover {
  background-color: lightsteelblue;
}

.make_brands {
  padding: 79px 0 74px;
}
.make_brands .container h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 55px;
}
.make_brands .container .make_brands_box {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 910px) {
  .make_brands .container .make_brands_box {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.make_brands .container .make_brands_box .make_brands_item {
  max-width: 300px;
}
.make_brands .container .make_brands_box .make_brands_item .make_brands_image {
  max-width: 300px;
  margin-bottom: 38px;
}
.make_brands .container .make_brands_box .make_brands_item .make_brands_image img {
  width: 100%;
  display: block;
}
.make_brands .container .make_brands_box .make_brands_item h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 20px;
}
.make_brands .container .make_brands_box .make_brands_item p {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}

.projects {
  padding: 79px 0 89px;
  background: #F5F5F5;
}
.projects .container h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 73px;
}
.projects .container .projects_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 900px) {
  .projects .container .projects_box {
    justify-content: space-around;
  }
}
.projects .container .projects_box .projects_items {
  max-width: 300px;
}
.projects .container .projects_box .projects_items:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}
@media screen and (max-width: 600px) {
  .projects .container .projects_box .projects_items:nth-child(2) {
    margin-top: 20px;
  }
}
@media screen and (max-width: 900px) {
  .projects .container .projects_box .projects_items:nth-child(3) {
    margin-top: 20px;
  }
}
.projects .container .projects_box .projects_items:nth-child(4) {
  margin-top: 20px;
}
.projects .container .projects_box .projects_items:nth-child(5) {
  margin-top: 20px;
}
.projects .container .projects_box .projects_items:nth-child(6) {
  margin-top: 20px;
}
.projects .container .projects_box .projects_items:nth-child(7) {
  margin-top: 20px;
}
.projects .container .projects_box .projects_items:nth-child(8) {
  margin-top: 20px;
}
.projects .container .projects_box .projects_items:last-of-type {
  margin-top: 20px;
}
.projects .container .projects_box .projects_items .project_image {
  max-width: 300px;
}
.projects .container .projects_box .projects_items .project_image img {
  width: 100%;
  display: block;
}
.projects .container .projects_box .projects_items .projects_text {
  background-color: #FFFFFF;
  padding: 20px 0;
}
.projects .container .projects_box .projects_items .projects_text h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 4px;
}
.projects .container .projects_box .projects_items .projects_text p {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
}

.team {
  padding: 79px 0 100px;
}
.team .container h3 {
  margin-bottom: 73px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.team .container .team_box {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 881px) {
  .team .container .team_box {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (max-width: 439px) {
  .team .container .team_box .team_items:nth-child(2) {
    margin-top: 20px;
  }
}
@media screen and (max-width: 659px) {
  .team .container .team_box .team_items:nth-child(3) {
    margin-top: 20px;
  }
}
@media screen and (max-width: 879px) {
  .team .container .team_box .team_items:last-of-type {
    margin-top: 20px;
  }
}
.team .container .team_box .team_items .team_photo {
  max-width: 220px;
  margin-bottom: 20px;
}
.team .container .team_box .team_items .team_photo img {
  width: 100%;
  display: block;
}
.team .container .team_box .team_items h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 6px;
}
.team .container .team_box .team_items p {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  margin-bottom: 29px;
}
.team .container .team_box .team_items .team_links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .container .team_box .team_items .team_links a {
  margin-right: 20px;
}
.team .container .team_box .team_items .team_links a:last-of-type {
  margin-right: 0;
}

.touch {
  background-image: url("../images/touch.jpg");
  background-size: cover;
  padding: 79px 0 75px;
}
.touch .container h3 {
  margin-bottom: 53px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.touch .container .touch_box {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 505px) {
  .touch .container .touch_box {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (max-width: 361px) {
  .touch .container .touch_box {
    display: block;
  }
}
.touch .container .touch_box .touch_items .touch_image {
  max-width: 44px;
  margin: auto;
}
.touch .container .touch_box .touch_items .touch_image img {
  width: 100%;
  display: block;
}
.touch .container .touch_box .touch_items h4 {
  margin-top: 26px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.touch .container .touch_box .touch_items p {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #212121;
}
@media screen and (max-width: 361px) {
  .touch .container .touch_box .touch_contacts {
    margin-top: 30px;
  }
}
.touch .container .touch_box .touch_contacts .touch_contacts_image {
  max-width: 70px;
  margin: auto;
}
.touch .container .touch_box .touch_contacts .touch_contacts_image img {
  width: 100%;
  display: block;
}
.touch .container .touch_box .touch_contacts h4 {
  margin-top: 41px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.touch .container .touch_box .touch_contacts p {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #212121;
}
.touch .container .touch_box .touch_contacts p:nth-child(4) {
  margin-bottom: 22px;
}
.touch .container .touch_box .touch_contacts p a {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #212121;
}
@media screen and (max-width: 505px) {
  .touch .container .touch_box .touch_social {
    margin-top: 15px;
  }
}
@media screen and (max-width: 361px) {
  .touch .container .touch_box .touch_social {
    margin-top: 30px;
  }
}
.touch .container .touch_box .touch_social .touch_social_image {
  max-width: 68px;
  margin: auto;
}
.touch .container .touch_box .touch_social .touch_social_image img {
  width: 100%;
  display: block;
}
.touch .container .touch_box .touch_social h4 {
  margin-top: 35px;
  margin-bottom: 19px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
@media screen and (max-width: 361px) {
  .touch .container .touch_box .touch_social ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.touch .container .touch_box .touch_social ul li {
  margin-bottom: 11px;
  list-style: none;
}
.touch .container .touch_box .touch_social ul li:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}
.touch .container .touch_box .touch_social ul li:last-of-type {
  margin-bottom: 0;
}
.touch .container .touch_box .touch_social ul li a {
  text-decoration: none;
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #212121;
}
.touch .container .touch_box .touch_social ul li a img {
  margin-right: 9px;
}

.contact_us {
  padding: 69px 0 75px;
  background-color: black;
}
.contact_us .container .contact_us_box {
  max-width: 564px;
  margin: auto;
}
@media screen and (max-width: 570px) {
  .contact_us .container .contact_us_box form {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.contact_us .container .contact_us_box form .item {
  max-width: 564px;
}
.contact_us .container .contact_us_box form .item input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.18);
  padding-left: 31px;
  height: 57px;
  font-family: "Vollkorn", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
  border: none;
}
.contact_us .container .contact_us_box form .item:nth-child(2) input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 31px;
  height: 57px;
  font-family: "Vollkorn", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
  border: none;
}
.contact_us .container .contact_us_box form .item textarea {
  height: 127px;
  width: 100%;
  padding-left: 31px;
  padding-top: 17px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: "Vollkorn", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
  border: none;
  margin-bottom: 22px;
}
.contact_us .container .contact_us_box form .btn {
  text-align: center;
}
.contact_us .container .contact_us_box form .btn button {
  font-family: "Vollkorn", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #8BCAC3;
  padding: 16px 60px;
  background-color: black;
  border: solid;
  cursor: pointer;
  margin-bottom: 37px;
}
.contact_us .container .contact_us_image {
  max-width: 43px;
  margin: auto;
}
.contact_us .container .contact_us_image img {
  width: 100%;
  display: block;
}
.contact_us .container p {
  margin-top: 14px;
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}

/*# sourceMappingURL=style.css.map */
